<div style = "background-color:  rgb(37,110,247) ;">

    
    <div class ="row">
        <div class="col-md-6">
    
            <a href =""><h1>e-Pharma</h1>
            </a>
        </div>
    
        
    
        <div class="col-md-12  flex justify-content-end">
            <a  routerLink= "/order" style="padding : 10px;" class = "button fancy-button">
            <i class="glyphicon glyphicon-shopping-cart" styles="font-size:80px;color:red" 
            ></i>Checkout({{totItemNumber}})
            </a>
            <div class ="badge btn-danger">{{totItemNumber}}</div>
    
            
    
        </div>
    
        <span class ="fas fa-search search-icon"></span>
    </div>
    
    </div>
    
    
